#drumcomputer__bpm{
	display: inline-block;
	width: 100px;
	text-align: right;
} 
#drumcomputer table{
	border: 0;
	background-color:  #303030;
	margin: 11px;
	padding: 11px;
	border-radius: 15px;
	border-spacing: 0;
	border-collapse: collapse;
}
#drumcomputer table td{
	color: #FCFCFC;
	cursor: pointer;
	padding: 5px;
	text-shadow: 0 1px 0px #fff;
}
#drumcomputer .step {
	background-color: #4A4A4A; 
	border-color: black;
	line-height: 28px;
	color: #ddd;
	font-size: 17px;
	font-family: verdana;
	width: 12px;
}

#drumcomputer .odd{
	background-color: #3D3D3D;
}

#drumcomputer .play{
	border-style: none; 
}

#drumcomputer .active, input.active{
	color: #33FF66;
	text-shadow: 0 0 0.3em #33FF66, 0 0 0.3em #33FF66;
	font-weight: bolder; 
}


#drumcomputer .track-sample{
	border :none;
	color: #33FF66;
	text-shadow: 0 0 0.3em #33FF66, 0 0 0.3em #33FF66;
}
